<head>
	<link href="/assets/css/chat.css" rel="stylesheet">
	<title>{{title}}</title>
</head>
{{>navbar}}
<body>
	<div class="container-fluid" style="margin-top: 25px; height: 89%;">
		<div class="card">
			<div class="card-header">
				<div class="d-flex bd-highlight">
					<div class="img_cont">
						<img src="{{avatar}}" class="rounded-circle user_img">
						<span class="online_icon"></span>
					</div>
					<div class="user_info">
						<span>Chat Global</span>
						<p>17 usuarios</p>
					</div>
				</div>
			</div>
			<div class="card-body msg_card_body" id="messages_container">

				<div class="spinner-visible" id="spinner">
					<div class="loader">
						<span class="loader"></span>
					</div>
					<span class="visually">Espera mientras se cargan los mensajes...</span>
				</div>

			</div>
			<div class="card-footer">
				<div class="input-group">
					<div class="input-group-append">
						<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
					</div>
					<input name="" class="form-control type_msg" placeholder="Type your message..." id="message_input" style="resize: none;"></input>
					<div class="input-group-append" onclick="sendNewMessage()">
						<span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/assets/js/mdb.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/assets/js/chat.js"></script>
</body>
