{{> navbar}}
<script type="text/javascript" src="/assets/js/mdb.min.js"></script>
<link rel="stylesheet" href="/assets/css/index.css">
<div class="banner">
    <div class="container" style="background-color: rgba(228, 228, 228, 0.096); height: 100%;">
        <div class="row align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="banner-area__content">
                    <h2>Productos de calidad,
                        <br> a precios accesibles
                    </h2>
                    <p>¿No estas seguro? Deberías ir al chat y conversar con nuestros clientes.</p>
                    <a class="btn bg-primary" href="/productos">Ir a productos ahora</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="banner-area__img">
                    <img src="/assets/images/banner.webp" alt="banner-img" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>