{{> navbar}}
<!-- Main css -->
<link rel="stylesheet" href="assets\css\style-register.css">
<title>{{title}}</title>

<div class="main">

    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <form method="POST" action="/test" id="signup-form" class="login100-form validate-form flex-sb flex-w"  enctype="multipart/form-data">
                    <h2 class="form-title" style="color: #555555 !important;">Crear Una Cuenta</h2>
                    <div class="form-group validate-input" data-validate = "Ingrese su Nombre">
                        <input type="text" class="form-input input100" name="name" id="name" placeholder="Nombre"/>
                    </div>
                    <div class="form-group validate-input" data-validate = "Ingrese su Email">
                        <input type="email" class="form-input input100" name="email" id="email" placeholder="Email"/>
                    </div>
                    <div class="form-group validate-input" data-validate = "Ingrese su Contraseña">
                        <input type="text" class="form-input input100" name="password" id="password" placeholder="Contraseña"/>
                    </div>
                    <div class="form-group validate-input" data-validate = "Contraseña no coincide">
                        <input type="password" class="form-input input100" name="re_password" id="re_password" placeholder="Confirmar Contraseña"/>
                    </div>
                    <div class="form-group validate-input" data-validate = "Ingrese su Dirección">
                        <input type="text" class="form-input input100" name="address" id="address" placeholder="Dirección"/>
                    </div>
                    <div class="form-group validate-input" data-validate = "Ingrese su Edad">
                        <input type="number" class="form-input input100" name="age" id="age" min="10" max="79" placeholder="Edad"/>
                    </div>
                    <div class="container validate-input" style="margin-bottom: 20px; width: 100%;padding:0px" data-validate = "Ingrese su Número">
                        <input id="phone" class="form-input input100" type="tel" name="phone_number"/>
                        <div class="alert alert-info" style="display: none;"></div>
                    </div>
                    <div class="form-selector" id="form-option">
                        <div class="form-option">
                            <label for="selector" class="label-sel" style="display: none;">Tipo de Imagen</label>
                            <select name="avatar_type" id="selector" class="form-selec">
                                <option value="0" class="option-sel">URL</option>
                                <option value="1">Archivo</option>
                            </select>
                            <div class="arrow" id="arrow"></div>
                        </div>
                        <input type="text" class="input-avatar" name="avatar" id="avatar_input" placeholder="URL"/>
                    </div>
                    <div class="container-login100-form-btn m-t-17">
                        <button type="submit" class="login100-form-btn">
                            Registrarse
                        </button>
                    </div>
                </form>
                <p class="loginhere">
                    ¿Ya tienes una cuenta? <a href="/login" class="loginhere-link" style="color: #999999 !important;">Inicia Sesión</a>
                </p>
            </div>
        </div>
    </section>

</div>
